# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
venv/
ENV/
.env

# Version control
.git
.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose.yaml

# Logs
logs/
*.log

# Editor files
.idea/
.vscode/
*.swp
*.swo

# Documentation
README.md
CHANGELOG.md
docs/ 